{% import 'readme/macros.j2' as macros %}
# remove container ubc if it exists
{{ macros.rmcontainer('ubc') }}

# launch ubuntu 22.04 container and name it ubc
incus launch images:ubuntu/22.04 ubc
incus ls
