{% import 'readme/macros.j2' as macros %}
{%- block bash_shebang %}{% endblock %}
# create a cloud-init config for container ubc
cat >cloud-init-ubc.yml <<EOF
{% include 'readme/cloud-init.yml.j2' %}
{%- block cloud %}{% endblock -%}
EOF

# create incus network profile we'll use for this ubc container
cat >ubcp-net-profile.yml <<EOF
{% include 'readme/incus-profile1.yml.j2' -%}
EOF

# delete old ubc container
{{ macros.rmcontainer('ubc') }}

# remove ubcp network profile if it exists
{{ macros.rmprofile('ubcp') }}

# create container profile ubcp
incus profile create ubcp
incus profile edit ubcp <ubcp-net-profile.yml

# create container ubc
incus launch images:ubuntu/22.04/cloud ubc --config=user.user-data="$(cat cloud-init-ubc.yml)"

# assign profile ubcp to container ubc
incus profile add ubc ubcp
incus ls
{% block footer_commands -%}{%- endblock -%}
