{% extends "readme/example-base.yml.j2" %}

{% block example_description %}
Use cloud-init to allow me ssh access, install some some packages and reboot contanier.
{% endblock %}

{% include 'readme/script02.sh.j2' %}
