{% extends "readme/example-base.yml.j2" %}

{% block example_description %}
- remove container {{ name }} if it exists
- launch ubuntu container and arbitrarily name it ubc
{% endblock %}

{% block bash_commands %}{% endblock %}
