{% extends "readme/example-base.yml.j2" %}

{% block example_description %}
- remove container {{ name }} if it exists
- launch ubuntu container and arbitrarily name it ubc
{% endblock %}

{% block example_code %}
# remove container ubc if it exists
{{ macros.rmcontainer('ubc') }}

# launch ubuntu 22.04 container and name it ubc
lxc launch ubuntu:22.04 ubc
lxc ls
{%- endblock %}
