{% extends "readme/example-base.yml.j2" %}

{% block example_description %}
Use cloud-init to allow me ssh access, install some some packages and reboot contanier.
{% endblock %}

{% block bash_commands %}
# create cloud-init for container ubc
cat >cloud-init-ubc.yml<<EOF
{% include 'readme/cloud-init.yml.j2' %}
{% block cloud %}{% endblock -%}
EOF

# create lxc network profile we'll use for this ubc container
cat >ubcp-net-profile.yml<<EOF
{% include 'readme/lxc-profile1.yml.j2' %}
EOF

# delete old ubc container
{{ macros.rmcontainer('ubc') }}

# remove ubcp network profile if it exists
{{ macros.rmprofile('ubcp') }}

# create container profile ubcp
lxc profile create ubcp
lxc profile edit ubcp < ubcp-net-profile.yml

# create container ubc
lxc launch ubuntu:22.04 ubc --config=user.user-data="$(cat cloud-init-ubc.yml)"

# assign profile ubcp to container ubc
lxc profile add ubc ubcp
lxc ls

{% block footer_commands %}{% endblock %}
{% endblock %}
{% block example_footer %}
{% endblock %}
