{% extends "readme/example2.yml.j2" %}

{% block example_description %}
Same as previous but add run once script using runcmd: in yaml.

When cloud-init sees runcmd:, then it generates `/var/lib/cloud/instance/scripts/runcmd` and runs it.

In this example I intentionally fail script1 in order to see if the next script will run or whether all subsequent scripts fail.
{% endblock %}


{%- include 'readme/script03.sh.j2' %}
