{% extends "readme/example-base.yml.j2" %}

{% block example_description %}
- remove container ubc if it exists
- launch ubuntu container and arbitrarily name it ubc
{% endblock %}

{%- block bash_commands %}
# script01.sh
{%- include 'script01/commands.sh.j2' %}
{%- endblock %}
