{% extends "readme/example-base.yml.j2" %}

{% block example_description %}
Use [cloud-init](https://cloudinit.readthedocs.io/en/latest/howto/run_cloud_init_locally.html#lxd) to allow me ssh access, install some some packages and reboot contanier.
{% endblock %}

{%- block bash_commands -%}
{%- include 'script02/commands.sh.j2' -%}
{%- endblock -%}
