{% extends "readme/example2.yml.j2" %}

{% block example_description %}
Same as previous example but add run-once script using `runcmd:` in cloud-init.yml.

When cloud-init sees runcmd element, then it generates `/var/lib/cloud/instance/scripts/runcmd` and runs it.

In this example I intentionally make script1 fail in order to see if the next script will run or whether all subsequent scripts fail.
{% endblock %}

{% block example_footer %}
We can see failure on script1 in cloud init logs.

Search for "Exit code" in `/var/log/cloud-init.log`.  There it shows the runcmd failed since script1 exited with nonzero exit code.

Check last 10 lines or so from here and you'll notice the `touch /tmp/$(date +%s).txt` from script2 never ran since script1 failed.
{% endblock %}

{%- block bash_commands %}
{%- include 'readme/script03/commands.sh.j2' %}
{%- endblock %}
