{% macro rmcontainer(name) -%}
incus ls --format=json | jq 'map(select(.name == "{{ name }}")) | .[] | .name' | xargs --no-run-if-empty -I {} incus delete --force {}
{%- endmacro %}

{% macro rmprofile(name) -%}
incus profile list --format=json | jq --raw-output 'map(select(.name == "{{ name }}") | .name) | .[]' | xargs --no-run-if-empty --max-args=1 incus profile delete
{%- endmacro %}
