{% import "readme/macros.j2" as macros -%}

<!--TOC-->

# purpose

Create quicstart for lxc and cloud-init.  I keep forgetting this stuff, so I'm writing it down.

# getting started: install lxc

```bash
{%- block initial_setup %}
# lxc install
apt-get update
apt-get --assume-yes install lxc lxc-utils jq
lxd init --auto
lxc ls
{%- endblock %}
```

# example: create container based off ubuntu 22.04

{% include "readme/example1.yml.j2" %}

# example: assign a network profile to container

{% include "readme/example2.yml.j2" %}

# example: run some scripts at boot

{% include "readme/example3.yml.j2" %}
