{% import "readme/macros.j2" as macros -%}

<!--TOC-->

# purpose

Create quicstart for incus and cloud-init.  I keep forgetting this stuff, so I'm writing it down.

# getting started: install incus

```bash
{%- block initial_setup %}
# incus install
apt-get update
apt-get --assume-yes install incus incus-utils jq
lxd init --auto
incus ls
{%- endblock %}
```

# example: create container based off ubuntu 22.04

{% include "readme/example1.yml.j2" %}

# example: assign a network profile to a container

{% include "readme/example2.yml.j2" %}

# example: run some scripts at boot

{% include "readme/example3.yml.j2" %}
