{% import "readme/macros.j2" as macros -%}

<!--TOC-->

# purpose

Maintain a quickstart guide for incus and cloud-init.  I keep forgetting this stuff, so I'm writing it down.

# getting started: install incus

FIXME: inline these scripts

```bash
# incus.sh
{% include 'install-incus/commands.sh.j2' %}
```

# example: create container based off ubuntu 22.04

{% include "readme/example1.yml.j2" %}

# example: assign a network profile to a container

{% include "readme/example2.yml.j2" %}

# example: run some scripts at boot

{% include "readme/example3.yml.j2" %}
